*{
    margin: 0;
    padding: 0;
}

/* buttons */

.btn-primary {
    background-color: #FD6E0A;
    color: #FFFFFF;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 1em;
    border: 0;
    border-radius: 5px;
}

/* header */
/* navbar */

.main-nav {
    display: flex;
    justify-content: space-between;
    margin: 5vh 5vw 10vh 5vw;
}

.nav-links > ul {
    display: flex;
    gap: 2vw;
    list-style: none;
}

.nav-links ul > li > a {
    text-decoration: none;
    color: black;
}

/* header-content */

.header-content-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h-title2 {
    margin-bottom: 5vh;
}

.h-desc {
    width: 50vw;
    margin-bottom: 5vh;
    color: lightslategray;
}

.h-img-container {
    height: 90vh;
    width: 90vw;
    margin-bottom: 30vh;
}

#h-btn {
    margin-bottom: 5vh;
}

.h-img {
    height: 100%;
    width: 100%;
}

/* feature list section */
.flist-container {
    display: flex;
    gap: 50px;
    padding: 0 5vw;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30vh;

}

.flist-imgs-container {
    display: grid;
    width: 100vw;
    gap: 10px;
    grid-template-columns: repeat(2,1fr);
}

.flist-img {
    height: 100%;
    width: 100%;
}

.flist-title, .flist-title2 {
    font-size: 1.5em;
}

.flist-title2 {
    margin-bottom: 4vh;
}

.flist-desc {
    margin-bottom: 4vh;
    line-height: 1.5;
    color: lightslategray;
}

/* feature section */

.feature-container {
    display: flex;
    gap: 50px;
    padding: 0 5vw;
    justify-content: space-around;
    margin-bottom: 30vh;

}

.feature-title, .feature-title2 {
    font-size: 1.5em;
    border-left: 3px solid #FD6E0A;
    padding-left: 12px;
}

.feature-title2 {
    margin-bottom: 5vh;
}

.feature-desc {
    color: lightslategray;
    margin-bottom: 50px;
}

.feature-inner-container {
    padding: 50px 20px 0px 30px;
    align-items: center;
}

.feature-inner-title {
    margin-bottom: 10px;
    
}

.feature-img-container {
    width: 100vw;

}

.feature-img {
    height: 100%;
    width: 100%;
}

.fact-container {
    padding: 0 5vw;
}

/* fact section */

.fact-title {
    font-size: 1.5em;
    margin-bottom: 5vh;
}

.fact-desc {
    margin-bottom: 15vh;
    color: lightslategray;
}

.fact-icons-container {
    display: flex;
    justify-content: space-evenly;
}

.fact-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    width: 175px;
    height: 175px;
}

.fact-icon {
    margin-bottom: 10px;
}

.icon-record {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.icon-desc {
    color: lightslategray;
}




/* responsiveness */

/* for mobile phones */

@media only screen and (max-width: 576px) {
    .main-nav {
        flex-direction: column;
        align-items: center;
    } 

    .logo {
        margin-bottom: 3vw;
    }

    .nav-links > ul {
        flex-direction: column;
        text-align: center;
    }

    .flist-container {
        flex-direction: column;
    }

    .flist-imgs-container {
        /* grid-template-columns: repeat(1,50vw); */
        display: flex;
        flex-direction: column;
        width: 90vw;

    }

    .flist-content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .feature-container {
        display: flex;
        flex-direction: column;
    }

    .feature-img-container {
        width: 90vw;
    }

    .fact-icons-container {
        flex-direction: column;
        align-items: center;
    }

    .fact-icon-container {
        margin-bottom: 5vh;
    }

}


